Package: com.mtac.uptime
Name: Uptime
Version: 1.0.2
Architecture: iphoneos-arm
Description: Control Center module to view time since boot
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate, com.opa334.ccsupport
